<div class="content">
	<section class="s1 page-section">
		<div class="container">
			<h1 class="text-center">THE ORABELLA<br>WHITENING SYSTEM</h1>
			<div class="img-holder mt-5">
				<img class="img-fluid" src="../../assets/img/whitening-system.png" width="1500" alt="">
			</div>
			<div class="whitening-system-mobile mt-5">
				<div class="form-row">
					<div class="col-md-6">
						<div class="">
							<img class="img-fluid" src="../../assets/img/whitening-system-img/00.png" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<h6 class="my-2">WHITENING 8-IN-1 DAY CREAM</h6>
						<p>All you need, all day! Moisturizes, hydrates, instantly mattifies and refines pores, whitens, blocks UVA/UVB rays, replaces
						foundation and powder.</p>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="col-md-6">
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/img/whitening-system-img/01.png" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<h6 class="my-2">WHITENING 5-IN-1 DEODORANT</h6>
						<p>5 solutions in 1 bottle! Instantly deodorizes, prevents excessive perspiration, whitens, retards hair growth, and smoothens
						skin.</p>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="col-md-6">
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/img/whitening-system-img/02.png" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<h6 class="my-2">WHITENING INTIMATE WASH</h6>
						<p>For women and men! Protects and instantly refreshes.</p>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="col-md-6">
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/img/whitening-system-img/03.png" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<h6 class="my-2">WHITENING SOAP</h6>
						<p>Results in a box! Whitens, brightens, and instantly smoothens skin.</p>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="col-md-6">
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/img/whitening-system-img/04.png" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<h6 class="my-2">WHITENING 2-IN-1 NIGHT CREAM</h6>
						<p>Wake up whiter! Intensively hydrates and whitens.</p>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="col-md-6">
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/img/whitening-system-img/05.png" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<h6 class="my-2">WHITENING FACIAL TONER</h6>
						<p>Wow without the ow! Prevents blemishes.</p>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="col-md-6">
						<div class="d-flex justify-content-center">
							<img class="img-fluid" src="../../assets/img/whitening-system-img/06.png" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<h6 class="my-2">WHITENING HAND & BODY LOTION</h6>
						<p>#NoFilter magic! Instantly whitens and smoothens.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
