@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Neuton');

//Font Family
$heading-text: 'Montserrat', sans-serif;
$body-text: 'Neuton', serif;

//Font Weight
$reg: 400;
$semi: 600;
$bold: 700;

// Base Font Size
$bfs: 16px;

//Colors
$violet: #752b8a;
$pink: #ca158c;
$orange: #f48d3e;
$bg-gray: #f4f4f4;
$dark: #131313;
$light: #585858;

//Devices Breakpoint
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;






