@import "01-variables";
@import "02-mixins";

h2
{
	@include text-style($heading-text, $reg, 1.875rem, 0.01rem);
}

h3
{
	@include text-style($heading-text, $reg, 1.625rem, 0.01rem);
}

p 
{
	@include text-style($body-text, $reg, 1.125rem, 0.01rem);
}

.text-dark
{
	color: $dark !important;
}

.text-light
{
	color: $light !important;
}

.t-center 
{
	text-align: center;
}