@import "../../../styles";

body {
    font-size: $bfs;
}

.s1 
{
    min-height: 65vh;
    // height: 100%;
    background-color: $bg-gray;
    background-image: url('../../../assets/img/mineral-mask/mineral-mask-bg.png');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .every-color
    {
        img:nth-child(2)
        {
            margin-top: -30px;
        }
    }
}