<div class="content">
	<section class="s1 page-section">
		<div class="container-fluid">
			<div class="img-container d-flex flex-column align-items-center justify-content-center">
				<div class="top">
					<img class="img-fluid" src="../../assets/img/color-stick/color-system.png" width="300" alt="">
				</div>
				<div class="every-color d-flex flex-column align-items-center justify-content-center mt-3">
					<img class="img-fluid img" src="../../assets/img/color-stick/every-color.png" width="350" alt="">
					<img class="img-fluid img-" src="../../assets/img/color-stick/lip-cheeks.png" width="500" alt="">
				</div>
			</div>
		</div>
	</section>
</div>
