@import "../../../styles";

body 
{
	font-size: $bfs;
}

.carousel-inner 
{
	height: 89vh;
}

.carousel-control
{
	padding: 12px;
	background-color: #752c88;

	span 
	{
		vertical-align: middle;
		margin-top: -2px;
	}
}

.s1 
{
	.image-title, .image-content
	{
		padding-bottom: 20px;
		img 
		{
			width: 100%;
		}
	}
	.image-title 
	{
		max-width: 325px;
	}
	.image-content 
	{
		max-width: 450px;
	}
	h2 
	{
		span 
		{
			font-weight: $bold;
		}
	}
	.g-carousel-container
	{
		padding-top: 60px;
		overflow: hidden;

		.swiper-wrapper
		{
			.swiper-slide
			{
				img 
				{
					width: 100%;
				}
			}
		}
	}
}

.s2
{
	background-color: $bg-gray;

	.product-container 
	{
		padding-top: 60px;
		overflow: hidden;
		position: relative;

		.swiper-wrapper 
		{
			.swiper-slide 
			{
				.slide-img
				{
					max-height: 234px;
					overflow-y: hidden;

					img 
					{
						width: 100%;
					}
				}
				.item-details 
				{
					background-color: $violet;
					color: white;
					padding: 1rem;
					font-size: 0.875rem;

					.item-name 
					{
						height: 1.875rem;
						line-height: 1.125rem;
					}
					.item-price 
					{
						padding-top: 0.375rem;
						font-weight: $bold;
					}
				}
			}
		}
	}

	h2 
	{
		span 
		{
			&:nth-child(1)
			{
				color: $violet;
			}
			&:nth-child(2)
			{
				color: $pink;
			}
			&:nth-child(3)
			{
				color: $orange;
				font-weight: $bold;
			}
		}
	}
	.image-content 
	{
		max-width: 500px;
		margin-top: 40px;
		img 
		{
			width: 100%;
		}
	}
	.col-container	
	{
		margin-top: 40px;
		.col-content 
		{
			.img-title
			{
				text-align: center;
				padding-bottom: 20px;
			}
		}
	}
}

.s3 
{
	.col-container	
	{
		.col-content
		{
			padding: 0 10px;

			.img-title 
			{
				max-width: 348px;
				img 
				{
					width: 100%;
				}
			}

			h3 
			{
				color: $violet;
				font-weight: $bold;
			}
		}
	}
}

@import "media-query";