@import "../../../styles";

*
{
	font-family: $heading-text;
}

header
{
	background-color: white;

	nav 
	{
		background-color: white !important;

		.navbar-nav
		{
			.nav-item
			{
				.nav-link, .dropdown-menu 
				{
					font-size: 0.8125rem;
				}
			}
		}

		.cart-container	
		{
			margin-top: -3px;
			a 
			{
				color: $violet;
				font-size: 0.8125rem;
				text-decoration: none;
			}
			&:hover 
			{
				cursor: pointer;
			}
			.cart-bag 
			{
				width: 20px;
			}
		}
	}
}

footer 
{
	color: white;
	font-size: 0.6875rem;

	.top-inner 
	{
		padding: 10px 0;
		background-color: $violet;
		font-size: 0.6875rem;
		font-weight: $semi;

		a 
		{
			&:hover 
			{
				cursor: pointer;
			}
			img 
			{
				width: 25px;
				margin: 0 5px;
			}
		}
	}
	.bottom-inner 
	{
		padding: 20px 0;
		background-color: #571c68;

		.bottom-inner-c
		{
			display: grid;
			grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

			.bottom-inner-col
			{
				.logo-f
				{
					width: 150px;
					img 
					{
						width: 100%;
					}
				}
				.logo-f2
				{
					width: 100px;
					padding-top: 20px;
					img 
					{
						width: 100%;
					}
				}
				.col-title 
				{
					font-weight: $bold;
					padding-bottom: 5px;
				}
				.col-links
				{
					div 
					{
						padding: 2px 0;
					}
					a 
					{
						color: rgba(255,255,255, 0.5);
						text-decoration: none;

						&:hover 
						{
							color: white;
						}
					}
				}
			}
		}
		.bottom-lower 
		{
			margin-top: 20px;
			padding-top: 6px;
			border-top: 1px solid rgba(255,255,255, 0.1);
			color: rgba(255,255,255, 0.5);
			text-decoration: none;
			a 
			{
				&:hover 
				{
					color: white;
					cursor: pointer;
				}
			}
		}
	}
}