@import "../../../styles";

body 
{
	font-size: $bfs;
}

.s1 
{
	min-height: 65vh;
	background-color: $bg-gray;
	background-image: url('../../../assets/img/about-bg.png');
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;

	h1 
	{
		font-weight: $semi;
		color: $violet;
	}
	
	.context-bg 
	{
		background-color: rgba(255,255,255, 0.5);
		padding: 2rem 0;
		p 
		{
			color: $violet;
			font-size: 1.25rem;
		}
	}

	.page-banner 
	{
		margin-top: 2rem;

		img 
		{
			width: 100%;
		}
	}
}
.page-section
{
	padding-bottom: 0 !important;
}


@import "media-query";