<div class="content">
	<section class="s1 page-section">
		<div class="container">
			<h1>THE COMPANY</h1>
		</div>
		<div class="context-bg">
			<div class="container">
				<p>
					Orabella Gold In Beauty is a Direct Selling Company focused on helping 
					you make the most out of Beauty! Whether you need #GandangWalangTiis 
					instantly satisfying Beauty Products or #KumikitangKagandahan easily 
					affordable Business Packages, ORABELLA Gold In Beauty aims to anticipate
					and provide your essentials.<br><br>

					With easily accessible Headquarters within the Ortigas Business Center 
					in Manila as well as multiple Business Centers in booming areas across 
					the Philippines, ORABELLA Gold In Beauty continues to grow at an
					exponential rate.
				</p>
			</div>
		</div>
		<div class="page-banner">
			<img src="../../../assets/img/about-banner.png">
		</div>
	</section>
</div>
