<div class="content">
	<section class="s1 page-section">
		<div class="container">
			<h1>VISION</h1>
			<div class="row-container row clearfix">
				<div class="col-md-3">
					<div class="image-title">
						<img src="../../../assets/img/vision1.png">
					</div>
				</div>
				<div class="col-md-9">
					<div class="context">
						<p>
							To be the company that best anticipates and fulfills
							the BEAUTY & BUSINESS needs of its partners worldwide.
						</p>
					</div>
				</div>
			</div>
			<h1>MISSION</h1>
			<div class="row-container row clearfix">
				<div class="col-md-3">
					<div class="image-title">
						<img src="../../../assets/img/vision2.png">
					</div>
				</div>
				<div class="col-md-9">
					<h2>BEAUTY</h2>
					<div class="context">
						<p>
							We will develop and distribute a collection of potent, multi-purpose, 
							innovative products focused on instant satisfaction and value.<br><br>

							We will advance and elevatethe ORABELLA image as a brand committed
							to timelessness and reinvention.<br><br>

							We will create and maintain a spirit of friendliness, warmth, and good humor fostering wellbeing inside and out.
						</p>
					</div>
				</div>
			</div>
			<div class="row-container row clearfix">
				<div class="col-md-3">
					<div class="image-title">
						<img src="../../../assets/img/vision3.png">
					</div>
				</div>
				<div class="col-md-9">
					<h2>BUSINESS</h2>
					<div class="context">
						<p>
							We will be the first choice of entrepreneurs who prioritize stability and 
							reliable expansion.<br><br>

							We will advocate a growth mindset foster an environment for recognition
							and establish passionate leaders.<br><br>

							We will pursue continuous improvement offer exceptional opportunities
							and provide the means to succeed.<br><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>