<div class="content">
	<section class="s1 page-section">
		<div class="grid-container">
			<div class="g-item1"><img src="../../../assets/img/contact-img1.png"></div>
			<div class="g-item2">
				<h1>BE A BELLA TODAY!</h1>
				<h3>ORABELLA Business Center Directory</h3>
				<div class="content-table">
					<div class="d-flex">
						<span>Tuguegarao</span>
						<span></span>
						<span>09756043759</span>
					</div>
					<div class="d-flex">
						<span>Santiago, Isabela</span>
						<span></span>
						<span>09361327001</span>
					</div>
					<div class="d-flex">
						<span>Mariveles, Bataan</span>
						<span></span>
						<span>09083644197</span>
					</div>
					<div class="d-flex">
						<span>Angeles, Pampanga</span>
						<span></span>
						<span>09175396353</span>
					</div>
					<div class="d-flex">
						<span>San Fernando, Pampanga</span>
						<span></span>
						<span>09175604422</span>
					</div>
					<div class="d-flex">
						<span>Caloocan City</span>
						<span></span>
						<span>09959503701</span>
					</div>
					<div class="d-flex">
						<span>Naga City, Cam. Sur</span>
						<span></span>
						<span>09498593681</span>
					</div>
					<div class="d-flex">
						<span>Legazpi City, Albay</span>
						<span></span>
						<span>09957663026</span>
					</div>
					<div class="d-flex">
						<span>Ormoc City, Leyte</span>
						<span></span>
						<span>09058493070</span>
					</div>
					<div class="d-flex">
						<span>Palo City, Leyte</span>
						<span></span>
						<span>09206397659</span>
					</div>
					<div class="d-flex">
						<span>Tacloban City, Leyte</span>
						<span></span>
						<span>09338691278</span>
					</div>
					<div class="d-flex">
						<span>Cebu City</span>
						<span></span>
						<span>09369045088</span>
					</div>
					<div class="d-flex">
						<span>Talisay City, Cebu</span>
						<span></span>
						<span>09298402055</span>
					</div>
					<div class="d-flex">
						<span>Davao City</span>
						<span></span>
						<span>09257306962</span>
					</div>
				</div>
				<div class="bottom-details">
					<div>Main Office: 09983325765/09565988671</div>
					<div>orabella.com.ph</div>
					<div>Landline (02) 635 94 17</div>
				</div>
			</div>
			<div class="g-item3"><img src="../../../assets/img/contact-img2.png"></div>
		</div>
	</section>
</div>