<div class="content">
  <section class="s1 page-section">
    <div class="container">
      <img class="img-fluid mt-3 mb-5" src="../../../assets/img/tutorials/tutorials.png" width="430" alt="tutorials">
      <div class="form-row no-gutters clearfix mx-150">
		  <div class="col-md-3">
			  <div class="d-flex h-100 w-100 align-items-end justify-content-end flex-responsive">
				  <div class="prod-img-holder">
					  <img class="img-fluid" src="../../../assets/img/tutorials/product.png" width="120" alt="">
				  </div>
			  </div>
		  </div>
		  <div class="col-md-9">
			  <div class="d-flex flex-column align-items-center justify-content-center">
				  <div class="face-holder">
					  <img class="img-fluid" src="../../../assets/img/tutorials/face-1.png" width="300" alt="">
				  </div>
				  <div class="tut-img-title">
					  <img class="img-fluid" src="../../../assets/img/tutorials/concealer.png" width="350" alt="">
				  </div>
				<p class="text-center instruction">Apply the concealer under the eyes and<br>in the shape of an upside-down triangle.</p>
			  </div>
		  </div>
	  </div>
      <div class="form-row no-gutters clearfix mx-150">
		  <div class="col-md-3">
			  <div class="d-flex h-100 w-100 align-items-end justify-content-end flex-responsive">
				  <div class="prod-img-holder">
					  <img class="img-fluid" src="../../../assets/img/tutorials/product.png" width="120" alt="">
				  </div>
			  </div>
		  </div>
		  <div class="col-md-9">
			  <div class="d-flex flex-column align-items-center justify-content-center">
				  <div class="face-holder">
					  <img class="img-fluid" src="../../../assets/img/tutorials/face-2.png" width="300" alt="">
				  </div>
				  <div class="tut-img-title">
					  <img class="img-fluid" src="../../../assets/img/tutorials/contour.png" width="400" alt="">
				  </div>
				<p class="text-center instruction">Apply it to the side of your nose,<br>right under yourcheekbones and<br>hairline. Blend according to your skin tone.</p>
			  </div>
		  </div>
	  </div>
      <div class="form-row no-gutters clearfix mx-150">
		  <div class="col-md-3">
			  <div class="d-flex h-100 w-100 align-items-end justify-content-end flex-responsive">
				  <div class="prod-img-holder">
					  <img class="img-fluid" src="../../../assets/img/tutorials/product.png" width="120" alt="">
				  </div>
			  </div>
		  </div>
		  <div class="col-md-9">
			  <div class="d-flex flex-column align-items-center justify-content-center">
				  <div class="face-holder">
					  <img class="img-fluid" src="../../../assets/img/tutorials/face-2.png" width="300" alt="">
				  </div>
				  <div class="tut-img-title">
					  <img class="img-fluid" src="../../../assets/img/tutorials/highlighter.png" width="500" alt="">
				  </div>
				<p class="text-center instruction">Apply on the T-zone area right above<br>your eyebrows and the spot between them, on your cheekbones, down to the center of your nose; in the middle of your upper lip; and the middle of your chin.</p>
			  </div>
		  </div>
	  </div>
    </div>
  </section>
</div>