<div class="content">
	<section class="s1 page-section">
		<div class="container-fluid">
			<div class="grid-0">
				<div class="g-item-1">
					<img class="img-fluid" src="../../assets/img/mineral-mask/01.png" width="450" alt="Orabella Gold In Beauty">
				</div>
				<div class="g-item-2">
					<img class="img-fluid" src="../../assets/img/mineral-mask/02.png" width="450" alt="An instantly satisfying way to reverse aging">
					<div class="t-orange">AN INSTANTLY SATISFYING<br>WAY TO REVERSE AGING</div>
				</div>
			</div>
			<div class="container">
				<div class="grid-1 py-3">
					<div class="g-item-1">
						<img class="img-fluid" src="../../assets/img/mineral-mask/face-mask-1.png" width="350" alt="Mineral Mask">
					</div>
					<div class="g-item-2">
						<img class="img-fluid" src="../../assets/img/mineral-mask/04.png" width="350" alt="Apply Mineral Mask">
						<div class="desc my-2">
							<h2>ORABELLA MINERAL FACE MASK</h2>
							<h3>Powered by HydraSILK Technology</h3>
							<p>This mineral-infused Face Mask dislodges impurities. Leaving Behind a protective film of hydrating smoothness.</p>
						</div>
					</div>
				</div>
				<div class="grid-2 my-3">
					<div class="g-item-1">
						<img class="img-fluid" src="../../assets/img/mineral-mask/face-mask-2.png" width="270" alt="Hydration Face Mask">
					</div>
					<div class="g-item-2">
						<img class="img-fluid" src="../../assets/img/mineral-mask/06.png" width="350" alt="Apply Hydration Face Mask">
						<div class="desc my-2">
							<h2>ORABELLA HYDRATION FACE MASK</h2>
							<h3>Powered by HydraSILK Technology</h3>
							<p>This mineral-infused Face Mask binds and retains moisture. Leaving behind youthfully plump skin.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>